body {
    background-color: #262626;
}

.select {
    margin: 15px;
    border-radius: 7px;
    width: 195px;
    height: 40px;
    background-color: #343434;
    color: white;
    border-color: white;
}

.title_text {
    margin: 15px;
    color: #ffffff;
}

label {
    color: #ffffff;
}